/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 2, 2015, 7:12:19 PM
    Author     : MinhDinh
*/

.container{
    margin: 0 auto;
    width: 1280px;
}
.clear{
    clear: both;
}
.header{
    background: url(../images/slider.png);
    height: 790px;
    color: #fff;
}
.logo{
    padding-top: 40px ;
    padding-left:60px;
}
.menu ul{
    float: right;
    margin-top:-90px;
}
.menu a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.menu li{
    float: left;
    list-style: none;
    padding: 60px;

}
.text{
    text-align: center;
    
}
.text h2{
    font-size: 40px;
}
.text p{
    font-size: 20px;
    width: 550px;
    text-align: center;
    margin: 0 auto;
    
}

.down img{
     margin-top: 400px;
     margin-left:  640px;
     text-align: center;
     
}
.select-product{
    position: absolute;
    width: 1280px;
    height: 145px;
    line-height: 145px;
    background: #f5f6f7;
    text-transform: uppercase;
    font-weight: bold;
}
.select-product a{
    font-size: 15px;
    color: #fff;
    text-decoration: none;
}

.select-item{
    float: left;
}
.select-item input {
  margin: 15px;
  margin-left:95px;
}
.select-all{
    text-align: center;
    position: relative;
    float:right;
    margin-top: 50px;
    line-height: 50px;
    margin-right:95px;
    width:205px;
    height: 50px;
    background: #aa9b77;
    padding: 5px;
    
}
.content-product {
  margin: 100px;
  min-height: 1400px;
  //border: 1px solid red;
  margin-top: 200px;
}
.content-product .men-product h3{
    font-size: 15px;
    color: #424242;
    text-transform: uppercase;
    background: url(../images/line.png) right center repeat-x;
}
.page {
  float: right;
  background: url(../images/page.png) bottom no-repeat;
  width: 35px;
  height: 35px;
  background-position-y: 20px;
  background-position-x: 4px;
  text-align: center;
}

.produc-item{
    background: #f5f6f7;
    width: 270px;
    height: 350px;
    padding: 15px;
    float: left;
    margin: 29px;
}
.size {
  font-size: 15px;
  width: 30px;
  background: url(../images/size.png) right center no-repeat;
  text-transform: uppercase;
  padding-right: 18px;
  font-weight: bold;
}
img.thumb {
  margin: 45px;
}
.top-product{
    margin-bottom: 5px;
}
.name-item{
  text-transform: uppercase;
  float:  left;
  font-weight: bold;
  color: #aa9b77;
}
.price{
  text-transform: uppercase;
  float:right;
  font-weight: bold;
  color: #000;
}
.blue{
    background: url(../images/blue.png) no-repeat;
}
.yellow{
    background: url(../images/yellow.png) right center no-repeat;
}
.black{
    background: url(../images/black.png) right center no-repeat;
}
.color{
    float:right;
}
.content-product .women-product h3{
    float: right;
    font-size: 15px;
    color: #424242;
    text-transform: uppercase;
    
}
.about{
    background: #aa9b77;
    height: 400px;
}
.info-theme{
    background:#535253;
    height: 70px;
}
.footer{
    background:black;
    height: 350px
}