/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 24, 2015, 6:36:11 PM
    Author     : MinDinh
*/

body{
    margin: 0;   
    padding: 0;
    background: url('images/background.png') top center;
    width: 100%;
    font-size: 14px;
}

.clear{
    clear: both;
}
#header{
    margin: 0 auto;
    width: 940px;
}
.top{
    height: 117px;
}
.logo img{
    float: left;
    margin-top: 35px;
}

.right{
    float: right;
    margin: 0;
    padding:10px;
    height: 36px;
    line-height: 180px;
    
}
.right a {
    color: #797272;
    
}
.twitter{
    background: url('images/icon-twitter.png')no-repeat center left;
    float: left;
    width: 50px;
    padding-left: 25px;
}
.rss{
    background: url('images/icon-rss.png')no-repeat center left;
    float: left;
    width: 50px;
    padding-left: 25px;
}
.facebook{
    background: url('images/icon-facebook.png')no-repeat center left;
    float: left;
    width: 50px;
    padding-left: 25px;
}
.slider{
    height: 350px;
    background: url('images/slide-images.png') no-repeat center center;
    
}
.larger{
    color:#fff;
    font-size: 45px;
}
.small{
    color:#fff;
    font-size: 28px;
}
.text{
    float:right;
    padding: 25px;
}
.menu{
    background: url('images/menu-nav.png');
    width: 940px;
    position:absolute;
}
.menu ul{
    list-style-type:none;
    padding:0px;
    margin:0px;      
}

.menu ul li{
    display:inline;
}
.menu ul a{
    background: url('images/menu-nav.png');
    text-decoration:none;
    height: 48px;
    width:140px;
    float:left;
    color:#fff;
    font-weight:bold;
    text-align:center;
    line-height:50px;
    border-right:1px solid #797272;
    text-transform: uppercase;
}
.menu ul a:hover,.menu .active a {
    background: url('images/menu-nav-active.png')
}
#container{
    text-align: center;
    margin: 0 auto;
    width: 940px;
    padding: 0;
    margin-top :48px;
    background: #fff;
    height: 540px;
}

.about img{
    float:left;
    margin: 25px 40px;
}
.about-content{
    margin: 7px;
    margin-left: 240px;
    position: absolute;
    width: 660px;
}
.about h2{
   color:#393937;
   text-align: left;
   text-decoration: underline;
}
.about p{
    color: #999999;
    text-align: left;
}
.recent-work h2{
   color:#393937;
   float:left;
   margin: 0px 40px;
   text-decoration: underline;
}
.recent-content{
    margin-top: 0px ;
    margin-left: 20px;
}
.recent-content img{
    float:left;
    padding: 20px;
}

#footer{
    margin: 0 auto;
    background: #303030;
    height: 100px;
    width: 940px;
    -moz-border-radius-bottomleft:10px;
    -webkit-border-bottom-left-radius:10px;
    -moz-border-radius-bottomright:10px; 
    -webkit-border-bottom-right-radius:10px;
}
.left-footer{
    width: 300px;
    float: left;
    padding:30px;
    color:#707070;
}
.right-footer{
    float:right;
    width: 300px;
    padding:30px;
    color:#707070;
}